/docs
erstraininguserDesktopwork_preview_appbackend'; & 'CProgram FilesEclipse Adoptiumjdk-17.0.18.8-hotspotbinjava.exe' '@CUsersTRAINI~1AppDataLocalTempcp_dz489sp208espjd4hxfj7sitt.argfile' 'com.example.demo.DemoApplication'
